<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="//use.typekit.net/fvc4vqm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <style>
    body { font-family: 'abril-display'; }
    h1 { font-weight: 900; font-size: 50px; margin-top: 2em; margin-bottom: 0;}
    h2 { font-style: italic;}
    h1, h2 { text-align: center; }
    </style>

    {{ content }}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
